<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>KASPI_LOOKBACK_DAYS_LONG</key>
		<string>14</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.example.kaspi-import-v2</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/env</string>
		<string>python3</string>
		<string>__RUN_KASPI_IMPORT_SCHEDULER__</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>__RUNTIME_LOG_DIR__/kaspi_import_stderr.log</string>
	<key>StandardOutPath</key>
	<string>__RUNTIME_LOG_DIR__/kaspi_import_stdout.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>__PROJECT_ROOT__</string>
</dict>
</plist>
